    .modal {
        /*OSX SNOW LEOPARD*/
        /*setup border radius*/
        border-radius: 5px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        /*proper width/height*/
        width:444px;
        height:247px;
        /*setup dialog image*/
        background-image: url("main.png");
        /*drop shadow*/
        box-shadow:inset 0 1px 0 rgba(255, 255, 255, .6), 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
        /*position information*/
        display:none;
        position:absolute;
        left:50%;
        top:50%;
        margin:-25px 0 0 -50px;
    }
    .modal_expanded {
        background-image: url("details.png");
        height:328px;
    }
    .diag_input {
        font-size: 13px;
        width: 236px;
    }
    #user_name {
        position: absolute;
        top: 120px;
        left: 176px;
        border-width: 0px;
    }
    #password {
        position: absolute;
        top: 150px;
        left: 176px;
        border-width: 0px;
    }
    .diag_button {
        font-size: 13px;
        font-family:"Lucida Grande";
        width: 70px;
        height:
    }
    .ok{
        position: absolute;
        top:206px;
        left: 355px;
        background-image: url("ok.png");
        border-width: 0px;
        height: 25px;
    }
    .cancel {
        position: absolute;
        background-image: url("cancel.png");
        top: 206px;
        left: 275px;
        border-width: 0px;
        height: 25px;
    }
    .help_img {
        position: absolute;
        top:206px;
        left: 20px;
    }
    .button_expanded {
        top:285px;
    }
    #expander {
        position: absolute;
        top: 180px;
        left: 20px;
        height: 15px;
        width: 60px;
        border-width: 0px;
        background: transparent;
    }